body {
    box-sizing: border-box;
    font-family: restoFont;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 20px;
}

@font-face {
    font-family: restoFont;
    src: url(fall.ttf);
}

.container {

    width: 400px;
    margin: auto;
}

i {
    cursor: pointer;
}

.__menu-items {
    margin-top: 3em;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border-bottom: 2px solid #c1c1c1;
}

.__menu-details {
    display: flex;
    align-items: center;


}

.__menu-details-text {
    line-height: 5px;
}

.emoji {
    /* background: greenyellow; */
    font-size: 3em;
    margin-right: .3em;
}

#order-process>h1 {
    text-align: center;
}

.ordered-items,
#total-price {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.ordered-items span {
    color: #bbbbbb;
    font-size: .5em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    color: rgb(0, 0, 0);
    margin-bottom: 1em;
    background: #f7f7f7;
    padding: 0 1em;
}


.hidden {
    display: none;
}

.show {
    display: block;
}

#order-btn, .pay-btn {
    background: rgb(22, 219, 153);
    width: 100%;
    padding: 1.3em .5em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}


#order-btn:hover, .pay-btn:hover {
    opacity: .8;
}

#card-details-modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 420px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #ffff;
    color: #16db99;
}

#card-details-modal>h2 {
    text-align: center;
}
#form {
    margin: auto;
   
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
input {
   padding: 0 1em;
    height: 40px;
   
}

